## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<div class="example-set prerendered-dropdown js-dropdown-menu-vol-4 js-header-help-menu">
    <div class="wrapper-more-actions dropdown-menu-container">
        <a href="${get_online_help_info(online_help_token)['doc_url']}" class="menu-title">Help</a>
        <button type="button" class="menu-button button-more has-dropdown js-dropdown-button default-icon" aria-haspopup="true" aria-expanded="false" aria-controls="edx-prerendered-user-menu">
            <span class="sr-only">Help dropdown</span>
        </button>
        <ul class="dropdown-menu is-hidden" id="edx-prerendered-user-menu" tabindex="-1">
            <li class="dropdown-item"><a href="${get_online_help_info(online_help_token)['doc_url']}" class="action">Documentation</a></li>
            <li class="dropdown-item"><a href="${get_online_help_info(online_help_token)['doc_url']}" class="action">Support</a></li>
         </ul>
    </div>
</div>

